@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

:root {
  --primary-color: #FFFFFF;
  --secondy-color: rgba(15, 160, 21, 0.50);
  --tertiary-color: rgba(255, 255, 255, 0.60);

  --source: 'Mukta;'
}

.viewpoint {
  height: 85vh;
}

.containerImg {
  display: flex;
  justify-content: center;
  align-items: end;
}

.content {
  display: flex;
  /* justify-content: space-between; */
}

.topics {
  font-family: var(--source);
  color: var(--primary-color);
  font-size: 50px;

}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.textFooter {
  font-family: var(--source);
  color: var(--tertiary-color);
  font-size: 15px;
}