@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

:root {
  --primary-color: #FFFFFF;
  --secondy-color: rgba(15, 160, 21, 0.50);
  --tertiary-color: rgba(255, 255, 255, 0.60);

  --source: 'Mukta';
}

body {
  width: auto;
}

.viewpoint {
  height: 85vh;
}

.containerImg {
  display: flex;
  align-items: end;
  margin-top: 35px;
  justify-content: center;
}

.content {
  display: flex;
  padding: 0 70px;
  justify-content: space-between;
}

.gif {
  margin-top: 20px;
}

.containerTopics {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topics {
  list-style: none;
}

.link {
  font-size: 50px;
  text-decoration: none;
  font-weight: 500;
  font-family: var(--source);
  color: var(--primary-color);
}

.link:hover {
  font-size: 60px;
  transition: .5s;
  font-weight: 700;
  border-radius: 5px;
  background-color: var(--secondy-color);
}

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
}

.textFooter {
  font-size: 15px;
  font-family: var(--source);
  color: var(--tertiary-color);
}