@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

:root {
  --source: 'Mukta';

  --main-color: #0FA015;
  --primary-color: #FFFFFF;
}

body{
  background-color: #020503;
}

nav {
  width: 100%;
  display: flex;
  height: 110px;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-family: var(--source);
  color: var(--primary-color);
}

.logoIcon{
  margin-left: 80px;
}

.containerNav {
  display: flex;
}

.topics {
  margin-right: 30px;
}

.topics:nth-child(1) {
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgba(15, 160, 21, 0.50);
}

.input {
  height: 40px;
  width: 600px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #0FA015;
  margin-left: calc(50% - 300px);
}

.input i {
  margin-left: 550px;
  position: absolute;
}

#search {
  width: 100%;
  height: 100%;
  font-size: larger;
  padding-left: 20px;
  border-radius: 5px;
  font-family: var(--source);
  outline: rgba(15, 160, 21, 0.91);
  background-color: var(--primary-color);
  border: 4px solid rgba(15, 160, 21, 0.91);
}

#search::placeholder{
  font-size: 18px;
}

#search:focus {
  box-shadow: 0 0 5px var(--primary-colorgit );
}